:root {
  --clr-background-dark: #1f2937;
  --clr-action: #3882f6;
  --clr-quote: #e5e7eb;
  --clr-text-primary: #1f2937;

  --fs-header: 3rem;
  --fs-header-secondary: 1.125rem;

  --fs-information: 2.25rem;
  --fs-quote: 3rem;

  --fs-primary: 1rem;
}

/* https://piccalil.li/blog/a-modern-css-reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

a {
  text-decoration: none;
  color: var(--clr-quote)
}

li {
  list-style-type: none;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

.header-container {
  background: var(--clr-background-dark);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 6rem;
}

.logo {
  height: 100px;
}

.nav-links {
  display: flex;
  gap: 2rem;
}

.top {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 6rem 6rem;
  gap: 4rem;
  color: var(--clr-quote);
}

.top-left {
  display: flex;
  flex-direction: column;
}

.top-title {
  font-size: var(--fs-header);
  font-weight: 900;
  line-height: 4rem;
}

.top-info {
  font-size: var(--fs-primary);
}

.sign-up {
  background: var(--clr-action);
  border: none;
  border-radius: 8px;
  height: 40px;
  width: 150px;
  margin-top: 8px;
  color: var(--clr-quote)
}

.image {
  flex: 1 1 auto;
  max-width: 30%;
}

.information {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 8rem;
}

.information-header {
  margin-bottom: 2rem;
  font-size: var(--fs-information);
  font-weight: 900;
}

.member-image {
  width: 160px;
  aspect-ratio: 1;
  border: solid var(--clr-action);
  border-radius: 10%;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
}

.member-description {
  text-align: center;
  max-width: 18ch;
}

.quote-container {
  background: var(--clr-quote);
  display: flex;
  flex-direction: column;
  padding: 5rem 8rem;
}

.quote{
  font-size: var(--fs-information);
  font-weight: 100;
  font-style: italic;
}

.quote-person {
  align-self: flex-end;
  margin-top: 1rem;
  font-size: var(--fs-header-secondary);
  font-weight: 900;
}

.action {
  display: flex;
  justify-content: space-between;
  background: var(--clr-action);
  border-radius: 8px;
  margin: 5rem 8rem;
  padding: 3rem 4rem;
  color: var(--clr-quote);
}

.action-header {
  font-weight: 900;
}

.action-button {
  width: 120px;
  height: 40px;
  border-radius: 8px;
  border-color: var(--clr-quote);
  background: var(--clr-action);
  color: var(--clr-quote);
  border-style: solid;
  align-self: center;
}

.footer {
  background: var(--clr-background-dark);
  color: var(--clr-quote);
  text-align: center;
  padding: 2rem;
}